/* reset css */

.hiden {
    display: none;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
  
html {
    font-size: 62.5%; /*= 10px*/
    line-height: 1.6rem; /*= 16px*/
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all 1s ease;
}

.app {
    max-width: 740px;
    font-size: 1.6rem;
}

.songRunning {
    background-color: #f3f3f7;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 740px;
}

.songRunning__header {
    background-color: #fff;
    display: flex;
    text-align: center;
    padding-top: 1rem;
    align-items: center;
}

.icon--header {
    width: 16.6667%;
    display: flex;
    fill: #e93477;
}

.icon--header svg {
    width: 3rem;
    margin: auto;
}

.songRunning__header--playing {
    width: 66.66667%;
}

.songRunning__header--playing span {
    color: #e93477;
    font-weight: 600;
    font-size: 1.4rem;
}

.songRunning__header--playing h3 {
    color: #333;
    line-height: 2.8rem;
}

.heading--playing {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songRunning__controls {
    padding: 2rem 0 0 0;
    background-color: #fff;
}

.playing-image-box {
    width: 64%;
    margin: auto;
    padding-top: 64%;
    position: relative;
    transform: rotate(0deg);
}

.playing-image-box img {
    /* hiển thị ảnh toàn bộ, không bị khuất phần nào         */
    object-fit: cover;
    width: 100%;
    position: absolute;
    object-position: center;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 50%;
}

.btn-song-icon {
    fill: #8682b4;
    width: 4rem;
    padding: 0.6rem;
}

.btn-song {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 2rem;
}

.btn-song .btn-main {
    background-color: #ef2463;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
}

.btn-song .btn-main svg {
    fill: #fff;
    width: 3rem;
    /* display: flex; */
    margin: auto;
}

.selected {
    fill: #ef2463;
}

.listSongs {
    background-color: #f3f2f7;
    padding-top: 0.2px;
}

.itemSong {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.itemSong--hover {
    background-color: #ef2463;
}

.itemSong .icon-option {
    width: 8.33333%;
    fill: #8884b6
}

.itemSong__image {
    width: 8.33333%;
    padding: 8.33333%;
    position: relative;
}

.itemSong__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
}

.itemSong__content {
    width: 83.33333%;
    padding: 0 1rem;
    font-size: 1.4rem;
    color: #333;
}

.itemSong__content span {
    display: block;
    margin-top: 0.6rem;
    color: #918cad;
}

.songRunning__controls .control-song {
    appearance: none;
    width: 100%;
    height: 6px;
    background: #ed347959;
    opacity: 0.7;
    border-radius: 6px;
    transition: opacity 0.2s ease;
}

.songRunning__controls .control-song:hover {
    opacity: 1;
}

.songRunning__controls .control-song::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background: #ef2463;
    border-radius: 50%;
}

.father-control-song {
    width: 100%;
    padding: 2rem 2rem 1rem 2rem;
}

.control-song-clock {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}